<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Application Name" value="Hivestack - Nirvana - C# - Tutorial" />
        <add key="Environment" value="env" />
        <add key="Base URL" value="baseurl.com" />
        <add key="Screen UUID" value="dummy uuid" />
    </appSettings>
</configuration>
